In [1]:
import requests
import time
from bs4 import BeautifulSoup

##### 네이버 주식 데이터 가져오기
- api 사용 : json 파싱을 한다.
- 네이버 주식 페이지에서 주식 데이터를 가져와 데이터 프레임으로 만들기
- http://m.stock.naver.com

In [3]:
def make_url(pageSize=10, page=1):
    return "http://m.stock.naver.com/api/json/sise/siseListJson.nhn?menu=market_sum&sosok=0&pageSize=" + str(pageSize) + "&page=" + str(page)

def get_data(url):
    response = requests.get(url)
    json_info = response.json()
    companys = json_info["result"]["itemList"]
    df = pd.DataFrame(columns=["종목", "시세", "전일비", "등락율", "시가총액", "거래량"])
    for company in companys:
        df.loc[len(df)] = {
            "종목":company["nm"],
            "시세":company["nv"],
            "전일비":company["cv"],
            "등락율":company["cr"],
            "시가총액":company["mks"],
            "거래량":company["aq"],
        }
    return df

In [4]:
url = make_url(100,1)
df = get_data(url)
df.tail()

        종목      시세    전일비   등락율   시가총액     거래량
95    금호석유   89500  -1100 -1.21  27269  121440
96   GS리테일   34800  -1200 -3.33  26796  248845
97  대우조선해양   24550   -450 -1.80  26184  529184
98     녹십자  220000   3000  1.38  25710   32861
99    유한양행  208000      0  0.00  25395   31481

In [6]:
import forecastio
FORECAST_TOKEN = "c259d4aeb593bc5e83d0c3f7ed916f5d"

In [7]:
def forecast(lat,lng):
    url = "https://api.darksky.net/forecast/{}/{},{}".format(FORECAST_TOKEN, lat, lng)
    response = requests.get(url)
    json_info = response.json()
    return json_info["hourly"]["summary"]
lat = 37.5124413
lng = 126.9540519
forecast(lat,lng)

'Partly cloudy tomorrow morning.'