In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [4]:
sentences = [
    "python python python java java",
    "python python java html",
    "python html html css",   
    
]

In [5]:
#CountVectorizer
cv = CountVectorizer()

In [6]:
cv_obj = cv.fit_transform(sentences)
cv.get_feature_names()

['css', 'html', 'java', 'python']

In [7]:
cv_df = pd.DataFrame(cv_obj.todense(), columns = cv.get_feature_names())
cv_df

   css  html  java  python
0    0     0     2       3
1    0     1     1       2
2    1     2     0       1

In [8]:
# Tfidfvectorizer

In [9]:
tv = TfidfVectorizer()

In [10]:
tv_obj = tv.fit_transform(sentences)

In [11]:
tv_df = pd.DataFrame(tv_obj.todense(), columns = tv.get_feature_names())
tv_df
#tfidf 결과값

        css      html      java    python
0  0.000000  0.000000  0.651365  0.758765
1  0.000000  0.476063  0.476063  0.739411
2  0.522535  0.794803  0.000000  0.308618

In [12]:
tv_similarity = pd.DataFrame((tv_obj * tv_obj.T).toarray(), columns= tv_df.index)

In [13]:
tv_similarity
#각 문장 유사도 (위 테이블과 그 전치의 곱)

          0         1         2
0  1.000000  0.871129  0.234168
1  0.871129  1.000000  0.606572
2  0.234168  0.606572  1.000000

In [14]:
tv_obj.toarray()

array([[0.        , 0.        , 0.651365  , 0.75876455],
       [0.        , 0.47606294, 0.47606294, 0.73941068],
       [0.52253528, 0.7948031 , 0.        , 0.30861775]])

In [15]:
tv_obj.todense()

matrix([[0.        , 0.        , 0.651365  , 0.75876455],
        [0.        , 0.47606294, 0.47606294, 0.73941068],
        [0.52253528, 0.7948031 , 0.        , 0.30861775]])