1.

SELECT distinct(continent) as continent

from country

2.

SELECT name, Population

from city

where CountryCode = 'KOR' and Population >1000000

order by Population desc

3.

SELECT Name, CountryCode, Population

from city

where Population between  8000000 and 10000000

order by Population desc


4번


SELECT Code, concat(Name, "(",IndepYear,")") as NameIndep, Continent, Population

from country

where IndepYear between  1940 and 1950

order by IndepYear

5번

SELECT distinct(CountryCode), Language, Percentage

from countrylanguage

where Percentage > 95 and Language in ("English", "Spanish", "Korean")

order by Percentage desc

6번

SELECT Code, Name, continent, GovernmentForm, Population

from country

where code like "A%" and GovernmentForm like "%Republic%"

======================================================================================================

1번

SELECT COUNT(DISTINCT(continent)) as language_count

FROM country

2번

SELECT Continent, COUNT(code) as count

FROM country

Group by Continent

order by count desc

3

SELECT countrycode, sum(population) as population

FROM city

group by countrycode

order by population desc

4

SELECT language, count(countrycode) as count

FROM countrylanguage

group by language

order by count desc

limit 4,6

5

SELECT language, count(countrycode) as count

FROM countrylanguage

group by language

having count > 15

order by count desc

6

SELECT continent, sum(SurfaceArea) as SurfaceArea

FROM country

group by continent

order by SurfaceArea desc